{% extends 'base.html' %}

{% block content %}
<h3>{{ institution.name }}</h3>

{% if institution.description %}
<p>
   {{institution.description}}
</p>
{% endif %}

{% if details %}
<p>details:</p>
<ul>
    {% for detail in details %}
    <li>
        <a href="/institution-detail/{{ detail.id }}">{{ detail.details }}</a><br/>
        {% if detail.tagged_institutions.exists %}
            {% for institution in detail.tagged_institutions.all %}
                <span class="badge badge-info"><a href="/institution/{{ institution.id }}" style="color:#FFFFFF;">{{ institution.name }}</a></span>
            {% endfor %}
        {% endif %}

        {% if detail.tagged_events.exists %}
            {% for event in detail.tagged_events.all %}
                <span class="badge badge-success"><a href="/event/{{ event.id }}" style="color:#FFFFFF;">{{ event.name }}</a></span>
            {% endfor %}
        {% endif %}

        {% if detail.tagged_persons.exists %}
            {% for person in detail.tagged_persons.all %}
                <span class="badge badge-secondary"><a href="/person/{{ person.id }}" style="color:#FFFFFF;">{{ person.name }}</a></span>
            {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if institution_data %}
<p>institutions:</p>
<ul>
    {% for institution, all_details in institution_data.items %}
    <li><a href="/institution/{{ institution.id }}">{{institution.name }}</a> <span class="badge badge-light">{{institution.total_connections}}</span>
        {% if all_details %}
        <ul>
            {% for institution_detail in all_details %}
            <li><a href="/institution-detail/{{ institution_detail.id }}">{{ institution_detail.details }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if person_data %}
<p>people:</p>
<ul>
    {% for person, all_details in person_data.items %}
    <li><a href="/person/{{ person.id }}">{{person.name }}</a> <span class="badge badge-light">{{person.total_connections}}</span>
        {% if all_details %}
        <ul>
            {% for person_detail in all_details %}
            <li><a href="/person-detail/{{ person_detail.id }}">{{ person_detail.details }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if institution.tagged_events.exists %}
<p>events:</p>
<ul>
    {% for event in institution.tagged_events.all %}
    <li><a href="/event/{{ event.id }}">{{event.name}}</a> <span class="badge badge-light">{{event.total_connections}}</span>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}