{% extends 'base.html' %}

{% block content %}
<h3>{{ person.name }}</h3>

{% if person.titles.exists %}
<p>titles:</p>
<ul>
    {% for title in person.titles.all %}
    <li>{{ title.title }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if details %}
<p>details:</p>
<ul>
    {% for detail in details %}
    <li><a href="/person-detail/{{ detail.id }}">{{ detail.details }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if person.affiliations.exists %}
<p>affiliations:</p>
<ul>
    {% for affiliation in person.affiliations.all %}
    <li><a href="/institution/{{ affiliation.institution.id }}">{{ affiliation.institution }}</a>{% if affiliation.title %}: {{affiliation.title}}{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if institution_data %}
<p>institutions:</p>
<ul>
    {% for institution, all_details in institution_data.items %}
    <li><a href="/institution/{{ institution.id }}">{{institution.name }}</a> <span class="badge badge-light">{{institution.total_connections}}</span>
        {% if all_details %}
        <ul>
            {% for institution_detail in all_details %}
            <li><a href="/institution-detail/{{ institution_detail.id }}">{{ institution_detail.details }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if person_data %}
<p>people:</p>
<ul>
    {% for person, all_details in person_data.items %}
    <li><a href="/person/{{ person.id }}">{{person.name }}</a> <span class="badge badge-light">{{person.total_connections}}</span>
        {% if all_details %}
        <ul>
            {% for person_detail in all_details %}
            <li><a href="/person-detail/{{ person_detail.id }}">{{ person_detail.details }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if person.tagged_events.exists %}
<p>events:</p>
<ul>
    {% for event in person.tagged_events.all %}
    <li><a href="/event/{{ event.id }}">{{event.name}}</a> <span class="badge badge-light">{{event.total_connections}}</span>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}